<!DOCTYPE html>
<html lang="en">
  <head>
    {{>links}}
  </head>


  <body>
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid ">
        <div class="row">
          <div class="col-lg-6 col-12 mx-auto  main_header">
            <div class="main_content ">
                <form class="temp_form text-center  ">
                    <input type="text" class="" id="cityName" placeholder="Enter Your City Name" autocomplete="off"> 
                    <input type="submit" class="" value="search" id="submitBtn"  >
                    
                </form>
            </div>
                
            <div class="tempInformation mt-2  ">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today_date">13 OCT</p>
                </div>
                <div class="main_layer">
                    <p id="city_name">Output will be shown here</p>
                    <div class="middle_layer data_hide d-flex">
                        <p id="temp" class="mx-2"><span id="temp_real_val">0</span> <sup>o</sup> C</p>
                        <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                    </div>
                </div>
            </div>
          </div>    
        </div>
    </div>
</div>

{{>footer}}

<script src="js/main.js"></script>
<script>
  
  
  const getCurrentDay = () => {
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tue";
        weekday[3] = "Wed";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        let currentTime = new Date();
        let days = weekday[currentTime.getDay()];
       let day = document.getElementById('day')
        day.innerText = days;
      }
      getCurrentDay();


      const getCurrentTime = () => {
        var months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "June",
          "July",
          "Aug",
          "Sept",
          "Oct",
          "Nov",
          "Dec",
        ];

        var now = new Date();
        var month = months[now.getMonth() ];
        var date = now.getDate();

  var todaydate = document.getElementById('today_date');
        todaydate.innerHTML = ` ${date} ${month}`
      };
getCurrentTime();
      </script>
  </body>
</html>
